.app {
  text-align: center;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-box {
    display: none;
}

.center-box, .right-box {
    display: inline-block
}

.right-box {
    position: relative;
    overflow: hidden;
}

.nav-links-container {
    display: none;
}

.nav-link {
    text-decoration: none;
    display: block;
}

.hamburger, .x {
    border: none;
    background-color: transparent;
    font-size: 20px;
}

.hidden {
    display: none;
}

.active {
    display: block;
}